{% extends "base.html" %}

{% block appendHead %}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />

    <style type="text/css">
        .pagination {
            margin: 6px 0 0;
            float: right;
            list-style: none;
        }

        .pagination li {
            float: left;
            margin 0 1px;
        }

        .pagination li a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url(/static/images/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;
        }

        .pagination li.current a, .pagination li.current a:hover { background-position: 0 -13px; }
        .pagination li a:hover { background-position: 0 -26px; }

        table {
            border: 1px solid #bbb;
        }

        table td,th {
            border: 1px solid #bbb;
            padding: 5px;
        }
    </style>
{% end %}

{% block prependBody %}
    <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script>
    <script type="text/javascript">FB.init("f34ef8644fe3a34c406f46088d0f499f");</script>
{% end %}

{% block content %}
    <div class="clear" style="height: 10px;"></div>
    <div class="grid_4 suffix_1">
        <img src="/static/images/trilogo-red.png" />
    </div>
    <div class="grid_11" style="padding-top: 51px;">
        <div>
            {% if user %}
                <span class="nav-link nav-current">Announce</span>
                <span class="nav-link">Calendar</span>
                <span class="nav-link">Rush</span>
                <span class="nav-link">Members</span>
                <span class="nav-link">Store</span>
                <a href="/auth/logout"><span class="nav-link nav-logout">Logout ({{ user }})</span></a>
            {% else %}
                <span class="nav-link nav-current">About</span>
                <span class="nav-link">Rush</span>
                <span class="nav-link">Philanthropy</span>
                <span class="nav-link">Scholarship</span>
                <span class="nav-link">Members</span>
                <a href="/auth/login"><span class="nav-link nav-logout">Login</span></a>
            {% end %}
        </div>
        <div style="padding-top: 4px;">
            <!--<span class="subnav-link subnav-current">Welcome</span>-->
        </div>
    </div>
    <div class="clear" style="height: 20px;"></div>
    <div class="grid_16">
        <div id="slides">
            <div class="slides_container">
                <img src="/static/images/gallery/1.jpg" width="960" height="300" alt="Photo" />
                <img src="/static/images/gallery/2.jpg" width="960" height="300" alt="Photo" />
                <img src="/static/images/gallery/3.jpg" width="960" height="300" alt="Photo" />
            </div>
            <a href="#" class="prev"><i class="icon-chevron-left icon-small"></i></a>
            <a href="#" class="next"><i class="icon-chevron-right icon-small"></i></a>
        </div>
    </div>

    <div class="clear" style="height: 20px;"></div>
    <div class="grid_11" style="text-align: justify;">
        <div class="content-head" data-name="index-top-matter"></div><br/>
        <div class="content-head" data-name="index-bottom-matter"></div>
    </div>
    <div class="grid_5">
        <fb:fan profile_id="124723071469" stream="1" connections="10" width="280" height="600"></fb:fan>
    </div>
    <div class="clear" style="height: 10px;"></div>
{% end %}

{% block appendBody %}
    <script type="text/javascript" src="/static/js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="/static/js/slides.jquery.js"></script>
    <script type="text/javascript" src="/static/js/content.js"></script>

    <script type="text/html" id="content-template">
        {% if user %}
            <div class="content-controller">
                <div style="cursor: pointer; float: left;" class="content-edit"><i class="icon-pencil"></i> Edit This Section</div>
                <div style="cursor: pointer; float: left; display: none;" class="content-save"><i class="icon-upload-alt"></i> Save Changes</div>
                <div style="cursor: pointer; float: right; display: none;" class="content-cancel"><i class="icon-remove"></i> Cancel</div>
            </div>
            <div class="content-view" style="clear: both;">
            </div>
        {% else %}
            <div class="content-view" style="clear: both;">
            </div>
        {% end %}
    </script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#slides").slides({
                play: 5000,
                pause: 2500,
                effect: "fade",
                crossfade: true,
                hoverPause: true
            });

            content_init();
        });
    </script>
{% end %}